.Profile-Section4 {
    width: 100%;
}

.Profile-Section4-Sildes-Content {
    display: grid;
    gap: 54px;
}

.Profile-Section4-Slides-Content-Heading {
    font-size: 80px;
    position: absolute;
    right: 2%;
    font-weight: 600;
    color: black;
    gap: 30px;
}

.Profile-Section4-Slides-Content-Heading>span {
    color: rgb(163, 163, 163);
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.Profile-Section4-Sildes-Heading {
    display: flex;
    gap: 40px;
}

.Profile-Section4-Sildes-Heading1 {
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}

.Profile-Section4-Sildes-Heading1>span {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(128, 128, 128);
}

.Profile-Section4-Sildes-Heading>img {
    width: 180px;
    height: 150px;
    border-radius: 1.5rem;
}

.Profile-Section4-Slides-Content-Chid2 {
    left: 30%;
    /* margin-left: 90px; */
    position: center;
    padding-top: 150px;
    width: 1200px;
    /* padding-left: 30px; */
}

.Profile-Section4-Slides-Content-Child {
    padding-left: 5%;
    display: flex;
}

.Profile-Section4-Slides-Buttons {
    display: grid;
    margin-left: 80px;
    /* position: relative; */
    /* right: 50%; */
}

.Profile-Section4-Slides-Buttons>button:first-of-type,
.Profile-Section4-Slides-Buttons>button:last-of-type {
    /* position: absolute; */
    /* right: 0; */
    margin: 10px;
    /* font-size: 18px; */
    width: 220px;
    height: 60px;
    padding: 5px;
    border-radius: 1rem;
    /* background-color:rgb(44, 145, 21) ; */
    border: 0px solid rgb(12, 14, 12);
    box-shadow: 0px 0px 10px 0px rgb(43, 63, 38);

}

.Profile-Section4-Slides-Buttons>button:first-of-type {
    background-color: transparent;
    border: 2px solid white;
    color: black;
    text-align: left;
    padding-left: 20px;
    font-size: 30px;
}

.Profile-Section4-Slides-Buttons>button:last-of-type {
    background-color: rgb(170, 13, 13);
    /* border: 2px solid white; */
    box-shadow: 0px 0px 1rem 0px rgb(77, 21, 21);
    color: rgb(255, 255, 255);
    text-align: left;
    padding-left: 20px;
    font-size: 30px;
}

.Profile-Section3-Sildes-Para>p {
    font-size: 24px;
    min-width: 300px;
    max-width: 1500px;
    padding-left: 5%;
}

.Section4-Slider-WithOut-Arrows {
    display: none;

}

@media only screen and (max-width: 1500px) {

    .Profile-Section4-Slides-Content-Chid2 {
        width: 1000px;
    }

    .Profile-Section4-Slides-Content-Heading {
        font-size: 60px;
    }
    
    .Profile-Section4-Slides-Content-Heading>span {
        font-size: 60px;
    }
}

@media only screen and (max-width: 1300px) {

    .Profile-Section4-Slides-Buttons>button:first-of-type,
    .Profile-Section4-Slides-Buttons>button:last-of-type {
        width: 200px;
        height: 50px;

    }

    .Profile-Section4-Slides-Buttons>button:first-of-type {
       
        font-size: 25px;
    }

    .Profile-Section4-Slides-Buttons>button:last-of-type {
    
        font-size: 25px;
    }

    .Profile-Section4-Slides-Content-Chid2 {
        width: 800px;
    }
}

@media only screen and (max-width: 1100px) {


    .Profile-Section4-Slides-Content-Chid2 {
        width: 700px;
    }
}



@media only screen and (max-width: 1000px) {

    .Section4-Slider-WithOut-Arrows {
        display: block;

    }

    .Section4-Slider-With-Arrows {
        display: none;

    }

    .Profile-Section4-Slides-Content-Chid2 {
        width: 800px;
    }


    .Profile-Section4-Sildes-Heading>img {
        width: 20vw;
        height: 17vw;
    }

    .Profile-Section4-Sildes-Heading1 {
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .Profile-Section4-Sildes-Heading1>span {
        font-size: 21px;
    }

    .Profile-Section4-Slides-Content-Heading {
        font-size: 40px;
    }
    
    .Profile-Section4-Slides-Content-Heading>span {
        font-size: 40px;
    }

    .Profile-Section4-Slides-Buttons {
        margin-left: 30px;
        gap: 20px;
    }
    .Profile-Section4-Slides-Buttons>button:first-of-type,
    .Profile-Section4-Slides-Buttons>button:last-of-type {
        width: 150px;
        height: 40px;
        margin: 2px;
    }

    .Profile-Section4-Slides-Buttons>button:first-of-type {
        font-size: 20px;
    }

    .Profile-Section4-Slides-Buttons>button:last-of-type {
        font-size: 20px;
    }

    .Profile-Section3-Sildes-Para>p {
        font-size: 19px;
    }
}

@media only screen and (max-width: 800px) {

    .Profile-Section4-Slides-Content-Chid2 {
        width: 700px;
    }

    .Profile-Section4-Slides-Content-Heading {
        font-size: 30px;
    }
    
    .Profile-Section4-Slides-Content-Heading>span {
        font-size: 30px;
    }
}

@media only screen and (max-width: 750px) {

    .Profile-Section4-Slides-Content-Chid2 {
        width: 600px;
    }
}

@media only screen and (max-width: 650px) {
    .Profile-Section4-Sildes-Heading>img {
        display: none;
    }

    .Profile-Section4-Slides-Content-Chid2 {
        width: 500px;
    }
}

@media only screen and (max-width: 550px) {

    .Profile-Section4-Slides-Content-Chid2 {
        width: 450px;
    }

    .Profile-Section4-Slides-Content-Heading {
        font-size: 30px;
        margin-top: 30px;
    }

    .Profile-Section4-Slides-Content-Heading>span {
        font-size: 30px;
    }
}

@media only screen and (max-width: 450px) {

    .Profile-Section4-Slides-Content-Child {
        /* padding-left: 5%; */
        gap: 30px;
        display: grid;
    }

    .Profile-Section4-Slides-Content-Chid2 {
        width: 370px;
    }

    .Profile-Section4-Slides-Buttons {
        margin-left: 0px;
        gap: 15px;
    }
    .Profile-Section4-Slides-Buttons>button:first-of-type,
    .Profile-Section4-Slides-Buttons>button:last-of-type {
        width: 200px;
        height: 50px;
        margin: 4px;
        gap: 20px;
    }

    .Profile-Section4-Slides-Buttons>button:first-of-type {
        font-size: 24px;
    }

    .Profile-Section4-Slides-Buttons>button:last-of-type {
        font-size: 24px;
    }

    .Profile-Section3-Sildes-Para>p {
        font-size: 19px;
    }

    .Profile-Section4-Slides-Content-Heading {
        font-size: 25px;
        margin-top: 40px;
    }

    .Profile-Section4-Slides-Content-Heading>span {
        font-size: 25px;
    }
}